/* To do list page */

$primary-color: #2e4dfe;
$primary-color-hover: #1e2b76;
$delete-color: rgb(198, 29, 55);
$close-btn-bg: rgba(25, 53, 82, 0.11);
$close-btn-color: #767c9d;

.con_warapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.list-card {
  position: relative;
  margin: 20px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.033) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  h2 {
    text-align: center;
  }

  .addbtn {
    position: absolute;
    right: 40px;
    top: 40px;
    background-color: $primary-color;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 18px;
    color: white;
    outline: none;
    border: none;
    transition: all 0.5s;

    &:hover {
      background-color: $primary-color-hover;
    }
  }
}

.list-items {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.addform {
  width: 500px;
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 12px;
  padding: 40px;

  input {
    height: 38px;
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
  }
}

.popup-wapper {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.btn-submit {
  background-color: $primary-color;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 18px;
  color: white;
  outline: none;
  border: none;
  width: 100%;
  transition: all 0.5s;

  &:hover {
    background-color: $primary-color-hover;
  }
}

.close-btn {
  width: 35px;
  height: 35px;
  background-color: $close-btn-bg;
  color: $close-btn-color;
  position: absolute;
  right: 14px;
  top: 13px;
  border-radius: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

.delete-btn {
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
  }

  i {
    color: $delete-color;
    transition: color 0.3s ease;
  }

  &:hover {
    background-color: $delete-color;
    border: none;

    i {
      color: white;
    }
  }
}
