/* counter page */

.counter_card {
  background-color: #deeafe;
  min-height: 400px;
  padding: 20px;
  margin: 40px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  .counter_buttons {
    width: 400px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    p {
      background-color: #2e4dfe;
      color: white;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
  }
}
