/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Body styling */
body {
  background-color: #f6f7ff;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.con_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  margin-bottom: 40px;
}

/* Mixin */
/* Navigation bar section */
.nav {
  padding: 0 40px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.071) 0px 48px 100px 0px;
}
.nav .nav-con {
  width: 100%;
  display: flex;
  min-height: 80px;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
}
.nav img {
  width: 140px;
}
.nav ul {
  display: flex;
  justify-content: center;
  gap: 28px;
  list-style: none;
  padding: 0;
}
.nav ul li a {
  color: rgb(26, 26, 26);
  font-size: 15px;
}

/* General container layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Intro section */
.intro {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.intro p {
  color: #54585d;
  font-size: 15px;
  padding-top: 20px;
}

/* Cards grid layout */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 20px;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  justify-content: center;
}

/* Main area */
.main {
  padding: 80px 0;
  min-height: 100vh;
}

/* Single card styling */
.card-content {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-bottom: 20px;
}
.card-content h3 {
  margin: 20px;
  color: #193552;
  font-size: 16px;
  font-weight: normal;
}
.card-content img {
  width: 100%;
}

/* Footer styling */
footer {
  text-align: center;
  background-color: black;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #54585d;
  font-size: 14px;
}

/* End of main CSS */
/** CSS pages */
/* To do list page */
.list-card {
  position: relative;
  margin: 20px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.033) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.list-card h2 {
  text-align: center;
}
.list-card .addbtn {
  position: absolute;
  right: 40px;
  top: 40px;
  background-color: #2e4dfe;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 18px;
  color: white;
  outline: none;
  border: none;
}
.list-card .addbtn:hover {
  background-color: #1e2b76;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.list-items {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.list-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addform {
  width: 500px;
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 40px;
}
.addform input {
  height: 38px;
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.popup-wapper {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.btn-submit {
  background-color: #2e4dfe;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 18px;
  color: white;
  outline: none;
  border: none;
  width: 100%;
}
.btn-submit:hover {
  background-color: #1e2b76;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.close-btn {
  width: 35px;
  height: 35px;
  background-color: rgba(25, 53, 82, 0.1098039216);
  color: #767c9d;
  position: absolute;
  right: 14px;
  top: 13px;
  border-radius: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

.delete-btn {
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.delete-btn:focus {
  outline: none;
}
.delete-btn i {
  color: rgb(198, 29, 55);
  transition: color 0.3s ease;
}
.delete-btn:hover {
  background-color: rgb(198, 29, 55);
  border: none;
}
.delete-btn:hover i {
  color: white;
}

.overview {
  background-color: white;
  padding: 60px 40px;
  box-shadow: rgba(0, 0, 0, 0.033) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin: 40px 20px;
}
.overview .overview-points {
  margin-top: 24px;
  list-style-type: circle !important;
}
.overview .overview-points li {
  display: block;
  margin: 5px 0;
}
.overview .overview-points li i {
  font-size: 6px;
  margin: 0 10px;
}

/* End of to do page *//*# sourceMappingURL=style.css.map */