/* Weather css page */
.Weateher_con {
  margin: 80px 40px;
  .cards_group {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .card {
      i {
        font-size: 25px;
      }
      h4 {
        margin-bottom: 6px;
        margin-top: 6px;
      }

      border: 2px solid #9e9eb60a;
      background-color: rgba(255, 255, 255, 0.615);
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      ul {
        display: flex;
        flex-direction: column;
        font-size: 14px;
      }
    }
  }
}

.loading {
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
